version: 2
jobs:
  build:
    working_directory: ~/ProductCatalog
    docker:
      # Android image with Java 21 and recent commandline tools
      - image: cimg/android:2025.04
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Chmod permissions
          command: chmod +x ./gradlew

      # Make sure required SDK components are installed
      - run:
          name: Install Android SDK 34
          command: sdkmanager "platforms;android-34" "build-tools;34.0.0"

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies --no-daemon

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Run Unit Tests
          command: ./gradlew test --no-daemon

      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks/

      - store_test_results:
          path: app/build/test-results
